{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% block welcome %}
    <!-- <input
      type="button"
      value="Back To Homepage"
      onClick="javascript:history.go(-1);"
      class="btn btn-outline-dark"
    /> -->
    <a href="/home/com/{{det.SC_id}}">go back</a>
    {% endblock welcome %}
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{det.S_fname}}</h5>
        <p class="card-text">{{det.S_email}}</p>
      </div>
    </div>
    <a href="/midterm/{{det.S_id}}" type="submit">Mid term</a>
    <a href="/endterm/{{det.S_id}}" type="submit">End term</a>

    {% block content %}
    <section style="background-color: #eee; font-family: 'Ubuntu'">
      <div class="container py-5">
        <div class="container mb-3"><h3>Profile Information</h3></div>
        <div class="col-lg-12">
          <div class="card mb-4 col-lg-12">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                id="student-avatar"
                style="width: 150px"
              />
              <h5 class="my-3">{{det.S_fname}} {{det.S_lname}}</h5>
              <p class="text-muted mb-4">{{det.S_prn}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{det.S_fname}} {{det.S_mname}} {{det.S_lname}}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{det.S_email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{det.S_contact}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Interning At</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Google</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{det.S_address}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p id="student-gender" class="text-muted mb-0">
                    {{det.S_geneder}}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mid-Term Evaluation</p>
                </div>
                <div class="col-sm-9">
                  {% if midTermForm %}
                  <a href="/midterm/C/{{det.S_id}}" type="submit" class="mb-0"
                    >View Marks
                  </a>
                  {% else %}
                  <a href="/midterm/C/{{det.S_id}}" type="submit" class="mb-0"
                    >Fill Form
                  </a>
                  {% endif %}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">End-Term Evaluation</p>
                </div>
                <div class="col-sm-9">
                  {% if endTermForm %}
                  <a href="/endterm/C/{{det.S_id}}" type="submit" class="mb-0"
                    >View Marks
                  </a>
                  {% else %}
                  <a href="/endterm/C/{{det.S_id}}" type="submit" class="mb-0"
                    >Fill Form
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock content %}{% block JS %}{% load static %}
    <script src="{% static 'js/student.js' %}"></script>
    {% endblock JS %}
  </body>
</html>
