{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Mid-Term Evaluation Form</title>
    {% endblock title %}
  </head>

  <body>
    {% block welcome%} {% endblock welcome %} {% block content %}
    <div class="container">
      <h1 class="mt-2 mb-2 text-center">Finalized Mid-Term Evaluation</h1>
      <h5 class="mb-1 text-muted text-center">
        Student : {{student.S_fname}} {{student.S_lname}}
      </h5>
      <h5 class="mb-5 text-muted text-center">PRN : {{student.S_prn}}</h5>

      <form action="/home/C/{{student.S_id}}">
        {% csrf_token %}
        <!-- Email input -->
        <div class="container text-center">
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Domain & Technical Knowledge (Key Learning)</label
              >
              <input
                type="number"
                class="col-3 col-lg-3 form-control"
                name="mark1"
                min="1"
                max="30"
                readonly
                value="{{form.domainandtech}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/30</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Presentation (PPT/ Case Study)</label
              >
              <input
                type="number"
                class="col-3 col-lg-3 form-control"
                name="mark2"
                min="1"
                max="30"
                readonly
                value="{{form.presentation}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/30</label
              >
            </div>
          </div>

          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Communication Skills</label
              >
              <input
                type="number"
                class="col-3 col-lg-3 form-control"
                name="mark3"
                min="1"
                max="10"
                readonly
                value="{{form.communication}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>

          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Question/ Answer</label
              >
              <input
                type="number"
                class="col-3 col-lg-3 form-control"
                name="mark4"
                min="1"
                max="10"
                readonly
                value="{{form.questionans}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right">Total</label>
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark5"
                min="1"
                max="10"
                value="{{form.total}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/80</label
              >
            </div>
          </div>
          <button type="submit">Go Back</button>
        </div>
        <br />
      </form>
    </div>
    {% endblock content %}
  </body>
</html>
