{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>End-Term Evaluation</title>
    {% endblock title %}
  </head>

  <body>
    {% block welcome%} {% endblock welcome %} {% block content %}
    <div class="container">
      <h1 class="mt-2 mb-2 text-center">Finalized End-Term Evaluation</h1>
      <h5 class="mb-1 text-muted text-center">
        Student : {{student.S_fname}} {{student.S_lname}}
      </h5>
      <h5 class="mb-5 text-muted text-center">PRN : {{student.S_prn}}</h5>

      <form method="POST" action="/endterm/{{student.S_id}}">
        {% csrf_token %}
        <!-- Email input -->
        <div class="container text-center">
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Background & Topic / Task Selection</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark1"
                min="1"
                max="10"
                value="{{form.background}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Scope & Objective</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark2"
                min="1"
                max="10"
                value="{{form.scopeandobj}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Implementation / Methodology Used</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark3"
                min="1"
                max="20"
                value="{{form.implemen}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/20</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Finding / Observation / Analysis</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark4"
                min="1"
                max="10"
                value="{{form.observa}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Domain & Technical Knowledge (Key Learning)</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark5"
                min="1"
                max="30"
                value="{{form.domain}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/30</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Presentation (PPT/ Case Study)</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark6"
                min="1"
                max="30"
                value="{{form.present}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/30</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Communication Skills</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark7"
                min="1"
                max="10"
                value="{{form.communic}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Interpersonal Skills</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark8"
                min="1"
                max="10"
                value="{{form.interper}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Professional Ethics</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark9"
                min="1"
                max="10"
                value="{{form.profess}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>
          <div class="form-outline mb-4">
            <div class="row justify-content-center">
              <label class="col-lg-4 col-form-label text-lg-right"
                >Question/ Answer</label
              >
              <input
                type="number"
                readonly
                class="col-3 col-lg-3 form-control"
                name="mark10"
                min="1"
                max="10"
                value="{{form.qanda}}"
              />
              <label class="col-1 text-muted col-form-label text-left"
                >/10</label
              >
            </div>
          </div>

          <input
            type="button"
            value="Go Back"
            onClick="javascript:history.go(-1);"
            class="justify-content-centre mt-3 mb-5 btn btn-outline-dark col-4 col-lg-2"
          />
        </div>
        <br />
      </form>
    </div>
    {% endblock content %}
  </body>
</html>
