{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Students List</title>
    {% endblock title %}
  </head>
  <body>
    {% block welcome %}
    <big>Welcome, {{teacher.CO_name}}</big>
    {% endblock welcome %} {% block content %}

    <div class="container-lg">
      <h3 class="mt-4 mb-4">Students List</h3>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">PRN</th>
            <th scope="col">Company Supervisor</th>
            <th scope="col">Mid-Term</th>
            <th scope="col">End-Term</th>
          </tr>
        </thead>
        <tbody>
          {% for i in stu %}
          <tr>
            <th scope="row">{{i.S_id}}</th>
            <td>
              <a href="/home/{{i.S_id}}"
                >{{i.S_fname}} {{i.S_mname}} {{i.S_lname}}
              </a>
            </td>
            <td>{{i.S_prn}}</td>
            <td>{{i.SC}}</td>
            {% if i.S_m %}
                <td id="mid-term-form-data">Filled</td>
            {% else %}
                <td id="mid-term-form-data">Not Filled</td>
            {% endif %}
            {% if i.S_e %}
               <td id="end-term-form-data">Filled</td>
            {% else %}
               <td id="end-term-form-data">Not Filled</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock content %}
  </body>
</html>
