{% extends "main.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Student Page</title>
    {% endblock title %}
  </head>
  <body>
    {% block welcome %}
    <big>Welcome, {{stu.S_fname}}</big>
    {% endblock welcome %} {% block content %}
    <section style="background-color: #eee; font-family: 'Ubuntu'">
      <div class="container py-5">
        <div class="container mb-3"><h3>Profile Information</h3></div>
        <div class="col-lg-12">
          <div class="card mb-4 col-lg-12">
            <div class="card-body text-center">
              {% load static %}
              <img
                src="{% static 'images/avatars/ava3.webp' %}"
                alt="the-last-airbender"
                class="rounded-circle img-fluid"
                id="student-avatar"
                style="width: 150px"
              />
              <h5 class="my-3">{{stu.S_fname}} {{stu.S_lname}}</h5>
              <p class="text-muted mb-4">{{stu.S_prn}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{stu.S_fname}} {{stu.S_mname}} {{stu.S_lname}}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{stu.S_email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{stu.S_contact}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Interning At</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Google</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{stu.S_address}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" id="student-gender">
                    {{stu.S_geneder}}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Feedback Form</p>
                </div>
                <div class="col-sm-9">
                  <a
                    href="internfeedback/{{stu.S_id}}"
                    type="submit"
                    class="mb-0"
                    >Fill Form
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock content %} {% block JS %}{% load static %}
    <script src="{% static 'js/student.js' %}"></script>
    {% endblock JS %}
  </body>
</html>
